In [8]:
import glob
import os
import pandas as pd
import numpy as np

In [10]:
seacr_beds = None

In [3]:
path = "/Users/cheshic/dev/test_data/cutandrun/*.bed"

In [4]:
seacr_bed_list = glob.glob(path)
seacr_bed_list

['/Users/cheshic/dev/test_data/cutandrun/h3k4me3_R2.peaks.bed.stringent.bed',
 '/Users/cheshic/dev/test_data/cutandrun/h3k4me3_R1.peaks.bed.stringent.bed',
 '/Users/cheshic/dev/test_data/cutandrun/h3k27me3_R2.peaks.bed.stringent.bed',
 '/Users/cheshic/dev/test_data/cutandrun/h3k27me3_R1.peaks.bed.stringent.bed']

In [17]:
for i in list(range(len(seacr_bed_list))):
        seacr_bed_i = pd.read_csv(seacr_bed_list[i], sep='\t', header=None, usecols=[0,1,2,3,4], names=['chrom','start','end','total_signal','max_signal'])
        print(len(seacr_bed_i.index))
        bed_base_i = os.path.basename(seacr_bed_list[i])

        #  split bed files on dots
        bed_id_list = bed_base_i.split(".")

        # join list on the elements of the sample id
        separator = ""
        sample_id = separator.join(bed_id_list[0:-4])

        # split sample id on underscores
        sample_id_split_list = sample_id.split("_")

        #  take first element of this list for group id
        group_i = separator.join(sample_id_split_list[0:-1])

        # take last element fo this list for replicate number
        rep_i = sample_id_split_list[-1]

        seacr_bed_i['group'] = np.repeat(group_i, seacr_bed_i.shape[0])
        seacr_bed_i['replicate'] = np.repeat(rep_i, seacr_bed_i.shape[0])

        if i==0:
            seacr_beds = seacr_bed_i

        else:
            seacr_beds = seacr_beds.append(seacr_bed_i)

25076
97770

/var/folders/3p/m4wl6mfj0pq4445vvxg8c458fthlkc/T/ipykernel_48447/363799724.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  seacr_beds = seacr_beds.append(seacr_bed_i)

588171

/var/folders/3p/m4wl6mfj0pq4445vvxg8c458fthlkc/T/ipykernel_48447/363799724.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  seacr_beds = seacr_beds.append(seacr_bed_i)

690738

/var/folders/3p/m4wl6mfj0pq4445vvxg8c458fthlkc/T/ipykernel_48447/363799724.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  seacr_beds = seacr_beds.append(seacr_bed_i)

In [14]:
seacr_beds

,chrom,start,end,total_signal,max_signal,group,replicate
0,chr1,633966,634046,1160.25,38.0409,h3k4me3,R2
1,chr1,778350,778443,1319.54,33.2858,h3k4me3,R2
2,chr1,778551,778681,2817.40,49.9287,h3k4me3,R2
3,chr1,779141,779265,1428.91,28.5307,h3k4me3,R2
4,chr1,827475,827527,1440.80,52.3062,h3k4me3,R2
...,...,...,...,...,...,...,...
690733,chrX,154894369,154894403,2227.27,90.9091,h3k27me3,R1
690734,chrX,154896407,154896438,2181.82,90.9091,h3k27me3,R1
690735,chrX,154980844,154980890,2272.73,90.9091,h3k27me3,R1
690736,chrX,155756168,155756216,2272.73,90.9091,h3k27me3,R1
690737,chrY,11107016,11107055,2227.27,90.9091,h3k27me3,R1

In [16]:
seacr_beds_group_rep = seacr_beds[['group','replicate']].groupby(['group','replicate']).size().reset_index().rename(columns={0:'all_peaks'})
seacr_beds_group_rep

      group replicate  all_peaks
0  h3k27me3        R1     690738
1  h3k27me3        R2     588171
2   h3k4me3        R1      97770
3   h3k4me3        R2      25076